.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.container {
  position: relative;
  background-color: white;
  box-shadow: 0px 0px 6px #858484;
  width: max-content;
  padding: 2px 20px 15px 20px;
  margin: 0 auto;
  top: 35%;
  border-radius: 5px;
}

.container h2 {
  font-size: 28px;
}

.otp input {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin-right: 5px;
  border-radius: 3px;
  border: 1px solid #888888;
  text-align: center;
  font-size: 16px;
}

.otp input:focus {
  border: 1px solid #888888 !important;
}

button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #0d6efd;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  width: 100%;
}

.profile-container {
  position: relative;
  background-color: white;
  box-shadow: 0px 0px 6px #858484;
  width: 300px;
  padding: 2px 20px 15px 20px;
  margin: 0 auto;
  top: 35%;
  border-radius: 5px;
}

.profile-container h2 {
  background-color: rgb(77, 126, 5);
  margin: -5px -20px 10px -20px;
  padding: 10px;
  color: white;
}

.profile-container section div {
  border: none !important;
}

.profile-container .dropzone-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px dashed #cccccc;
  cursor: pointer;
  text-align: center;
}

.profile-container .image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(175, 171, 171, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  font-size: 14px;
  flex-wrap: wrap;
  padding: 0px 5px;
}

.profile-container .uploaded-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-container input {
  width: 100%;
  padding: 10px;
  margin-left: -10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #888888;
}

.dashboard {
  display: flex;
  width: 100vw;
  position: relative;
}

.contact-menu {
  width: 400px;
  height: 880px;
  background-color: white;
  padding: 10px;
  overflow-y: scroll;
  position: relative;
}

.contact-menu .header {
  border-bottom: 1px solid #d1d7db;
  padding: 10px 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0%;
  z-index: 1;
  display: flex;
  background-color: #f0f2f5;
  margin: -10px;
  width: 100%;
}

.contact-menu .header img {
  margin-top: 10px;
}

.contact-menu ul {
  margin-left: -50px;
  position: relative;
  top: 5%;
}

.contact {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #d1d7db;
  cursor: pointer;
}

.contact:hover {
  background-color: #d1d7db;
}

.contact img,
.header img,
.chat-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.contact-ind {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.contact-ind h3 {
  font-weight: 300;
}

.contact-ind h3,
.contact-ind p {
  margin: 0;
}

.chat-container {
  width: calc(100% - 420px);
  position: relative;
  background-image: url(https://www.shutterstock.com/image-vector/social-media-sketch-vector-seamless-600nw-1660950727.jpg);
}

.chat-header {
  background-color: #f0f2f5;
  border: 1px solid #d1d7db;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.chat-header {
  display: flex;
  margin-left: 420px;
}

.chat-container .input-container {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: #f0f2f5;
  padding: 10px;
  display: flex;
  margin-left: 420px;
}

.input-container input {
  width: 100%;
  padding: 15px;
  border: 0;
  outline: none;
  border-radius: 10px;
  font-size: 16px;
}

.chat-wrapper {
  position: relative;
  top: 5%;
  height: calc(100% - 150px);
  padding: 20px;
  overflow-y: scroll;
}

.chat-wrapper div {
  max-width: 50%;
  width: max-content;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px #ccc;
  text-align: left;
  word-wrap: break-word;
  margin: 20px 0px;
}

.chat-wrapper .sender {
  margin-left: auto;
  background-color: rgb(206, 248, 143);
}

.chat-wrapper .receiver {
  margin-right: auto;
  background-color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
